Makefile
src/Makefile
test/Makefile

CMakeFiles/
src/CMakeFiles/
test/CMakeFiles/

cmake_install.cmake
src/cmake_install.cmake
test/cmake_install.cmake

CTestTestfile.cmake
CMakeCache.txt
tmp/

bin/*
!bin/.keep

lib/*
!lib/.keep

Dictionary.cbp
