Makefile

cmake_install.cmake

CTestTestfile.cmake
CMakeCache.txt
tmp/

bin/*
!bin/.keep

doc/*
!doc/.keep

resources/dictionaries/*
!resources/dictionaries/.keep
.DS_Store

.idea/

bin/*
doc/*

*.cbp

.AppleDouble
.LSOverride

Icon

._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.lnk

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

*.d

*.ko
*.obj
*.elf

*.gch
*.pch

*.dll
*.so
*.so.*
*.dylib

cmake-build-debug/
lib/Debug/
